Gen_Pro1/.vs/Gen_Pro1/v14/.suo
Gen_Pro1/Debug/Gen_Pro1.exe
*.ipch
Gen_Pro1/Gen_Pro1/Gen_Pro1.vcxproj
*.filters
*.lastcodeanalysissucceeded
Gen_Pro1/Debug/Gen_Pro1.ilk
*.sdf
Gen_Pro1/Gen_Pro1.v12.suo
*.obj
Gen_Pro1/Gen_Pro1/Debug/Gen_Pro1.Build.CppClean.log
*.log
Gen_Pro1/Gen_Pro1/Debug/Gen_Pro1.pch
*.pdb
Gen_Pro1/Gen_Pro1/Debug/genalgo.nativecodeanalysis.xml
*.xml
Gen_Pro1/Gen_Pro1.sln
*.codeanalysis
Gen_Pro1/Gen_Pro1/Debug/Gen_Pro1.pch.codeanalysisast
*.tlog
Gen_Pro1/Gen_Pro1/Debug/vc140.idb
*.vcxproj
Gen_Pro1/Gen_Pro1/Debug/GEN.ilk
*.exe
Gen_Pro1/Gen_Pro1/GEN.v12.suo
*.sln
Gen_Pro1/Gen_Pro1/Debug/vc120.idb
*.opensdf